black
confluent-kafka
fast-histogram
flake8
flatbuffers
graphyte
kafka-python
matplotlib
mock
mutmut
numpy
pre-commit
pyepics
PyQt5
pytest
pytest-cov
tox
https://github.com/ess-dmsc/python-streaming-data-types/releases/download/0.3.0/streaming_data_types-0.3.0-py3-none-any.whl
