-r requirements.txt
black==21.11b1   # Pinned to match pre-commit config
flake8==4.0.1   # Pinned to match pre-commit config
isort==5.9.3    # Pinned to match pre-commit config
mutmut
pre-commit
pytest
pytest-cov
tox
